<section>
    {{#if (isDefined game)}}
    <img class="game-image" src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.image_id}}.jpg">
    <h1 class="white-text game-name">{{game.name}}</h1>
    <p class="white-text game-summary">{{game.summary}}</p>

    <h2 class="white-text">{{game.users.length}} Users playing:</h2>
    {{#each game.users}}
    <ul>
        <li><a href="/profile/{{this.id}}" class="game-user-name">{{this.userName}}</a></li>
    </ul>
    {{/each}}
    {{else}}
    <h1>Game doesn't exist</h1>
    {{/if}}
</section>