<main class="container">
    {{#if (isDefined user)}}
    <h1>{{user.userName}}'s Profile</h1>

    {{#if loggedIn}}
    {{#unless onUserProfile}}
    <a class="waves-effect waves-light btn deep-purple">Friend</a>
    {{/unless}}
    {{else}}
    <p>view other profiles to add friends</p>
    {{/if}}

    <p class="flow-text">Gamertags:</p>
    <ul>
        {{#each user.gamerTags}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>

    <p class="flow-text">Games:</p>
    <ul>
        {{#each user.games}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>

    <p class="flow-text">Friends:</p>
    <ul>
        {{#each user.friends}}
        <li><a href="/profile/{{this.id}}">{{this.userName}}</a> - {{#if this.isFriend}} Friend {{else}} Request
            pending {{/if}}</li>
        {{/each}}
    </ul>
    {{else}}
    <h1>This user doesn't exist</h1>
    {{/if}}
</main>