<main class="container white-text">
    {{#if (isDefined user)}}
    <h1>{{user.userName}}'s Profile</h1>
    {{#if isOwnProfile}}
    <p class="profile-user-id">ID: {{user.id}}</p>
    {{/if}}

    {{#if loggedIn}} {{!-- Check if loggedin --}}
        {{#unless isOwnProfile}} {{!-- Check if NOT viewing own profile --}}
            {{#if (canAddAsFriend user loggedInId)}} {{!-- Check if user can be added as a friend--}}
                {{#unless (didSendRequest user loggedInId)}}
                <a id="button-add-friend" data-user-id="{{user.id}}" class="waves-effect waves-light btn deep-purple">Add Friend</a>
                <script src="/js/addFriend.js"></script>
                {{else}}
                    {{#unless (isFriender user loggedInId)}} {{!-- Check if user being viewed received the friend request --}}
                    <p>Waiting for {{user.userName}} to respond</p>
                    {{else}} {{!-- The user being viewed sent the friend request, so logged in user must accept the friend request --}}
                    <a id="button-accept-friend" data-user-id="{{user.id}}" class="waves-effect waves-light btn deep-purple">Accept Friend Request</a>
                    <script src="/js/acceptFriend.js"></script>
                    {{/unless}}
                {{/unless}}
            {{else}}
            <p>Friends 😄</p>
            {{/if}}
        {{/unless}}
    {{/if}}

    <p class="flow-text">Gamertags:</p>
    <ul>
        {{#each user.gamerTags}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>

    <p class="flow-text">Games:</p>
    <ul>
        {{#each user.games}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>

    <p class="flow-text">Friends:</p>
    <ul>
        {{#each user.friends}}
        <li><a href="/profile/{{this.id}}">{{this.userName}}</a> - {{#if this.isFriend}} Friend {{else}} Request
            pending {{/if}}</li>
        {{/each}}
    </ul>
    {{else}}
    <h1>This user doesn't exist</h1>
    {{/if}}

</main>